<div id="map"></div>
<a href="https://www.census.gov/library/publications/2011/compendia/usa-counties-2011.html">U.S Census - U.S. Department of Commerce</a>
<br>
<button (click)="changeYear(2001)">2001</button>
<button (click)="changeYear(2002)">2002</button>
<button (click)="changeYear(2003)">2003</button>
<button (click)="changeYear(2004)">2004</button>
<button (click)="changeYear(2005)">2005</button>
<button (click)="changeYear(2006)">2006</button>
<button (click)="changeYear(2007)">2007</button>
<button (click)="changeYear(2008)">2008</button>

